@import './colors.scss';

body {
    background-color: $true-gray-900;
    color: $true-gray-200;
}

#nav {
    color: $true-gray-900;
}

.min-h-screen-except-nav {
    min-height: calc(100vh - 52px);
}
