@import './colors.scss';

body {
    background-color: $true-gray-900;
    color: $true-gray-200;
}

#nav {
    color: $true-gray-900;
}

.mt-35v {
    margin-top: 35vh;
}
.mb-35v {
    margin-bottom: 37vh;
}